@model TrailerAPPv3.Models.EmailModel
@{
    ViewBag.Title = "SendEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Enviar un correo de alerta</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

@using (Html.BeginForm("SendEmail", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ToEmail)
        @Html.TextBoxFor(m => m.ToEmail, new { @class = "form-control", placeholder = "Correo Destino" })
        @Html.ValidationMessageFor(m => m.ToEmail, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Subject)
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Asunto" })
        @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Mensaje", rows = "5" })
        @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Enviar correo</button>
}

